modules = ["nodejs-24", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
packages = ["zip"]
channel = "stable-25_05"

[userenv]

[userenv.shared]
STRIPE_PRICE_CITA = "price_1TEj4sKEeJe9i4WlScBOPN5s"
STRIPE_PRICE_REG = "price_1TEj4tKEeJe9i4WlUXrUPTQs"
STRIPE_PRICE_STD = "price_1TEj4tKEeJe9i4WlRzHMF8LB"
